/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --bg-color: #fff;
    --text-color: #000;
}

/* UTILITY CLASSES */
.hidden {
    display: none !important
}

/* General Layout */
body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 5rem auto auto;
    grid-template-columns: 100%;
    justify-content: space-evenly;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

main {
    grid-area: main;
    margin: 0 10%;
}

footer {
    grid-area: footer;
}

img {
    object-fit: contain;
    object-position: center;
    max-width: 90vw;
}

#indexContent {
    justify-items: center;
}

#homeDisplay {
    align-self: center;
    width: 70vw;
}

/* MOBILE RESPONSIVE */
@media (max-width: 600px) {
    .nav {
        display: none;
    }
}

/* HAMBURGER MENU */
.navmenu {
    background: var(--bg-color);
    position: absolute;
    top: 5rem;
    left: 0;
    height: 85vh;
    width: 400px;
    overflow: hidden;
}

.navMenuLinks {
    display: flex;
    flex-direction: column;
    margin: 10px 40px;
    line-height: 2;
    
}

.navMenuLinks > a {
    text-decoration: none;
    color: var(--text-color);
}

header a.icon {
    display: block;
    color: var(--text-color);
    font-size: 16pt;
}

/* HOME LAYOUT */
#homeNavBtns {
    display: grid;
    grid-template-columns: 6rem 6rem;
    justify-content: space-evenly;
    gap: 20px 60px;
    padding: 40px;
}

#homeDisplayContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#homeDisplay {
    padding: 4em 2vw 0.1em;
}